namespace: kuard
bases:
  - ${bases_configuration_path}/kuard
patchesStrategicMerge:
  - deployment.yml
patchesJson6902:
- target:
    name: kuard-conf
    version: v1
    kind: ConfigMap
  path: patch_configmap.json
