bases:
  - ${bases_configuration_path}/ebs-csi-driver
images:
  - name: 602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-ebs-csi-driver:v0.4.0
    newTag: latest
    newName: chengpan/aws-ebs-csi-driver
