apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: ${name}
  namespace: monitoring
spec:
  backendType: systemManager
  data:
    %{~ for name, key in data ~}
    - key: ${key}
      name: ${name}
    %{~ endfor ~}
