apiVersion: 'kubernetes-client.io/v1'
kind: ExternalSecret
metadata:
  name: postgres-config-${application}
spec:
  backendType: systemManager
  data:
    - key: ${admin_key}
      name: admin_pw
    - key: ${user_key}
      name: user_pw